 
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/UsuarioSession.cshtml";
}

<h2>Usuarios</h2>

<ul>
    <li><a href="@Url.Action("Matematicas","Usuario")">Matematicas</a></li>
    <li>Español</li>
    <li>Geografia</li>
    <li>Historia</li>
    <li>Ingles</li>
    <li>Biologia</li>
</ul>

