@model WebApplication2.Models.EstadoSessionVO

@{
    ViewBag.Title = "Matematicas";
    Layout = "~/Views/Shared/UsuarioSession.cshtml";
}

<h2>Sub Areas Matematicas : @Session["IdMateria"]</h2>
<h1>Bien: @Session["IdUsuarioActivo"]</h1>



